.footer {
  background: #4a220d;
  color: white;
  padding: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-column {
  width: 23%;
}

.footer-heading {
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
  display: block;
  border-bottom: none;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column p{
  margin-top: 6%;
}

.footer-column ul li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-column ul li:hover {
  color: #ff6600;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons svg {
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons svg:hover {
  color: #ff6600;
}

.left,
.right {
  font-size: 13px;
}

.footer-section p {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.footer-section p svg {
  margin-right: 8px;
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }

  .footer-top {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-column {
    width: 100%;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
  }

  .social-icons {
    justify-content: center;
  }
}
